{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorie</h1>
<div class="container">
    <div class="row">

        <div class="span9">
            <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.nom }}</td>
            </tr>
        </tbody>
    </table>
        </div>
    </div>
</div>

    <ul>
        <li>
            <a href="{{ path('admin_categories_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_categories_edit', { 'id': category.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>


{% endblock %}
