{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="span9">
    <h1>Page</h1>

            <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ page.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ page.contenu|raw }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_pages_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_pages_edit', { 'id': page.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
        </div>
    </div>
</div>
{% endblock %}
