{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commandes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Valider</th>
                <th>Date</th>
                <th>Reference</th>
                <th>Commande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('admin_commandes_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                <td>{% if commande.valider %}Yes{% else %}No{% endif %}</td>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ commande.reference }}</td>
                <td>{% if commande.commande %}{{ commande.commande|join(', ') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_commandes_show', { 'id': commande.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
